<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <clear />
    <add name="BooksDBSQLConnectionString" connectionString="Data Source=XXX-PC\SQLEXPRESS;Initial Catalog=BooksDBSQL;Integrated Security=True"
      providerName="System.Data.SqlClient" />

    <add name="LocalSqlServer" connectionString=" Data Source=XXX-PC\SQLEXPRESS;Initial Catalog=aspnet;Integrated Security=True"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <!--
   If this key value is set to "None" [default], the ASP.NET application will use the pre-4.5 behavior 
   (JavaScript inline in the pages) for client-side validation logic. If this key value 
   is set to "WebForms", ASP.NET uses HTML5 data-attributes and late
   bound JavaScript from an added script reference for client-side validation logic
  -->
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>